html {
  font-size: 8px;
  @include media-breakpoint-down(md) {
    font-size: 6px;
  }
}

body {
  font-family: Roboto;
  font-size: 14px;
  overflow-y: scroll;
  background-color: var(--body);
  color: var(--text);
}

a {
  color: var(--highlight);
  text-decoration: none;
  transition: all 0.15s linear;

  &:hover {
    border-bottom: 1px solid var(--highlight);
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--strong)
}

h2 {
  font-size: 4.5rem;
  font-weight: bold;
}

section {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.section-title-wrapper {
  margin-bottom: 5rem;
}

.container{
  @include media-breakpoint-down(sm) {
    width: calc(100% - 10px)
  }
}

strong {
  font-weight: bold;
  color: var(--strong);
}

em {
  font-style: italic;
}
