//$green: #008000;
//$grey: #808080;
//$body: white;
//$highlight: black;
//$text: unset;
//$border: #e5e5e5;

$highlight: rgb(94 234 212);
$body: rgb(15 23 42);
$strong: white;
$text: rgb(156, 163, 175);
$border: #e5e5e5;

//$orange: rgb(148 163 184);
//$green: rgb(148 163 184);
//$grey: rgb(148 163 184);
//$body: rgb(15 23 42);
//$highlight: white;
//$highlight-active: rgb(94 234 212);
//$text: rgb(148 163 184);
//$border: rgb(148 163 184);

